﻿@model ErrorViewModel
@{
    ViewData["Title"] = "Greška";
}

<h1 class="text-danger">Greška.</h1>
<h2 class="text-danger">Pojavila se greška prilikom obrade vašeg zahtjeva.</h2>

@if (Model != null && Model.ShowRequestId)
{
    <p>
        <strong>ID zahtjeva:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Razvojni način</h3>
<p>
    Prijelaz u <strong>razvojnu</strong> okolinu će prikazati više detalja o grešci koja se pojavila.
</p>
<p>
    <strong>Development environment should not be enabled in deployed applications</strong>, as it can result in sensitive information from exceptions being displayed to end users. For local debugging, development environment can be enabled by setting the <strong>ASPNETCORE_ENVIRONMENT</strong> environment variable to <strong>Development</strong>, and restarting the application.
</p>
